{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% comment %} <link rel="stylesheet"  href="style.css"> {% endcomment %}
    <title>Website Perlindungan Radiasi</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
    <h1>HAHAHIHI.COM</h1>
    </header>
         <nav>
            <a href="/">Beranda</a>
            <a href="/panduan">Panduan</a>
            <a href="/pr">Perhitungan Radiasi</a>
            <a href="/lokal">Perhitungan lokal</a>
        </nav>

    <main class="text1">
        <form method="POST" action="">
            {% csrf_token %}
            <table>
                <tr>
                    <td>Nilai B: </td>
                    <td><input type="text" name="masukan" placeholder="Nilai B" class="form-control"></td>
                </tr>
                <tr>
                    <td></td>
                    <td><input class="btn login_btn" type="submit" value="Submit"></td>
                </tr>
            </table>
        </form>
        {{Nilai_x}}
    </main>