{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  href="style.css">
    <title>Website Perlindungan Radiasi</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
    <h1>HAHAHIHI.COM</h1>
    </header>
         <nav>
            <a href="/">Beranda</a>
            <a href="/panduan">Panduan</a>
            <a href="/pr">Perhitungan Radiasi</a>
            <a href="/lokal">Perhitungan lokal</a>
        </nav>

    <p> Ini Panduan</p>

    <footer>
        <p>Departemen Fisika Fakultas Matematika dan Ilmu Pengetahuan Alam, Universitas Indonesia, Pondok Cina, Kecamatan Beji, Kota Depok, Jawa Barat 16424</p>
    </footer>

    
</body>
</html>