<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  href="style.css">
    <title>Website Perlindungan Radiasi</title>
</head>
<body>
    <header>
    <h1>HAHAHIHI.COM</h1>
    </header>
         <nav>
            <a href="/">Beranda</a>
            <a href="/panduan">Panduan</a>
            <a href="/pr">Perhitungan Radiasi</a>
            <a href="/lokal">Perhitungan lokal</a>
        </nav>

    <main class="text1">
        <h2>Pilih yang Ingin Dihitung : </h2> 

    <div class="PS">
        <a href ="Primary.html" > Primary Barrier</a>
    </div>
    <div class="PS">
        <a href="Sec.html"> Secondary Barriers</a>
    </div>
</main>

    <footer>
        <p>Departemen Fisika Fakultas Matematika dan Ilmu Pengetahuan Alam, Universitas Indonesia, Pondok Cina, Kecamatan Beji, Kota Depok, Jawa Barat 16424</p>
    </footer>

    
</body>
</html>