<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  href="style.css">
    <title>Website Perlindungan Radiasi</title>
</head>
<body>
    <header>
    <h1>HAHAHIHI.COM</h1>
    </header>
         <nav>
            <a href="/">Beranda</a>
            <a href="/panduan">Panduan</a>
            <a href="/pr">Perhitungan Radiasi</a>
            <a href="/lokal">Perhitungan lokal</a>
        </nav>

    <main class="text1">
        <h2>Pilih yang Ingin Dihitung : </h2> 
    <div class="PS">
        <a href ="Primary.html" > Primary Barrier</a>
    </div>
    <div class="PSS">
        <a href="Sec.html"> Secondary Barriers</a>
    </div>
    
    <form class="satu">    
    Modality Type : 
    <select>
        <option>Pilih</option>
        <option value="option1">Radiograpic Room</option>
        <option value="option2">Rad Tube</option>
        <option value="option3">Chest Room</option>
        <option value="option4">Flouroskopi</option>
        <option value="option5">Rad dan Chest Bucky</option>
    </select>
    </form>

    <form class="satu">    
        Use Factor : 
        <select>
            <option>Pilih</option>
            <option value="option1">Floor</option>
            <option value="option2">Chest Stand</option>
            <option value="option3">Chest Room</option>
            <option value="option4">Flouroskopi</option>
            <option value="option5">Rad dan Chest Bucky</option>
        </select>
        </form>

        <form class="satu">    
            Occupancy Type : 
            <select>
                <option>Pilih</option>
                <option value="option1">Floor</option>
                <option value="option2">Chest Stand</option>
                <option value="option3">Chest Room</option>
                <option value="option4">Flouroskopi</option>
                <option value="option5">Rad dan Chest Bucky</option>
            </select>
        </form>
        
        <form class="satu">    
            Targeted Area : 
            <select>
                <option>Pilih</option>
                <option value="option1">Floor</option>
                <option value="option2">Chest Stand</option>
                <option value="option3">Chest Room</option>
                <option value="option4">Flouroskopi</option>
                <option value="option5">Rad dan Chest Bucky</option>
            </select>
        </form>

        <form class="satu">    
            Distance (m) : 
            <input/>
        </form>

        <form class="satu">        
            Weekly no. of Patients : 
            <input/>
        </form>

        <form class="satu">    
            Target design goal (mSv/week) : 
            <input/>
        </form>

        <form class="satu">    
            Basic Shielding Material :
            <select>
                <option>Pilih</option>
                <option value="option1">Concrete</option>
                <option value="option2">Lead</option>
                <option value="option3">Steel</option>
            </select>
        </form>
        
        <form class="satu">    
            Other Shielding Materials :
            <select>
                <option>Pilih</option>
                <option value="option1">Plate Glass</option>
                <option value="option2">Wood</option>
                <option value="option3">Gypsum</option>
            </select>
        </form>
    </main>

    <footer>
        <p>Departemen Fisika Fakultas Matematika dan Ilmu Pengetahuan Alam, Universitas Indonesia, Pondok Cina, Kecamatan Beji, Kota Depok, Jawa Barat 16424</p>
    </footer>

    
</body>
</html>